__astcache/
__history/
__recovery/
Win32/
Win64/
!Libs/Win32/
!Libs/Win64/
FFTW/
DocImages/
*.bak
*.dcp
*.dcu
*.dll
*.drc
*.dres
*.exe
*.il?
*.local
*.map
*.o
*.obj
*.ocx
*.pdi
*.res
*.rsm
*.so
*.stat
*.tds
*.~*
